body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
}

article {
    display: flex;
    flex-direction: column;
    flex: 2;
    overflow-y: auto;
}

aside {
    display: flex;
    flex: 1;
    overflow-y: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
}

nav p {
    font-size: x-large;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
}